[Unit]
Description=Tag Search Service
After=graphical-session.target

[Service]
ExecStart=/opt/md-tracker-logseq/server/start_flask.sh
Restart=on-failure
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=default.target
